# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
ace-*.tar

# Temporary files, for example, from tests.
/tmp/

# Ignore the CLI executable
/ace

# Ignore Dialyzer PLTs
/priv/plts/*.plt
/priv/plts/*.plt.hash

# VS Code
/.elixir_ls/
/.vscode/

# Intellij/Rubymine
/.idea/

# Mac files
.DS_Store

# Test cache directories with embedded repos
/test/real_world/cache/

# Log files
*.log

# Priv static
/priv/static/assets/
